# Windows:
Thumbs.db
ehthumbs.db
Desktop.ini

# Python:
*.py[cod]


# My configurations:
conf.ini
__pycache__
.ipynb_checkpoints
*.ipynb
render.html
msyh.ttf
*.bat
*.xlsx
design
.env

# excel
*.csv
*.xlsx

# xmind
*.xmind 

# vc
.vs
.vscode
