{% extends "/minimal/base.html" %} {% block title %}产品部——仪表盘{% endblock %}

<!-- 导航 -->
{% block navbar %} {% include '/minimal/includes/navbar_fixed.html' %} {% endblock %} {% block page_content %}
<!-- Page content -->
<div id="content" class="col-md-12">

    <!-- page header -->
    <div class="pageheader">


        <h2>
            产品部成员所需数据
            <span>{{user_name}}</span>
        </h2>

        <!-- 个人简介 -->
        <section class="tile transparent">



            <div class="jumbotron bg-transparent-black-3">

                <div class="container text-center">
                    <!-- <h1>Hello, world!</h1> -->
                    <p>{{user_introduction}}</p>
                    <button id="renderPdf">DOWNLOAD PDF</button>
                </div>

            </div>


        </section>

        <div class="breadcrumbs">
            <ol class="breadcrumb">
                <li>你的位置</li>
                <li class="active">产品部成员</li>
                <li class="active">{{user_name}}</li>
            </ol>
        </div>


    </div>
    <!-- /page header -->

    <!-- content main container -->
    <div class="main">

        <!-- 页面内容的图表 -->
        {% include '/minimal/includes/content_collection.html' %}
        {% include '/minimal/includes/content_charts.html' %}

    </div>
    <!-- /content container -->

</div>
<!-- Page content end -->
{% endblock %}